/* BASIC RESET */
*,*::before,*::after{
  box-sizing: border-box;
}

*{
  margin:0;
  padding:0;
}

body{
  background-color: #261C2C;
  color:#fff;
}

.title{
  font-family: 'Luckiest Guy', cursive;
  font-size: 3rem;
  letter-spacing: 5px;
  padding: 2em 0;
  text-align: center;
}

.grid-container{
  background-color: #3E2C41;
  max-width: 1024px;
  margin: 0 auto;
  border-radius: 3px;
  border: 1px solid hsla(253, 22%, 41%, 0.5);
  padding:1em;

  display: grid;
  /* grid-template-columns: repeat(12,1fr);
  grid-gap:1em; */
}

.grid-container:not(:last-of-type){
  margin-bottom: 3em;
}


[class^="grid-item"]{
  background-color: #6E85B2;
  border: 1px solid rgba(255, 255, 255, .5);
}

/* .grid-container--1{ 
  grid-template-rows: auto 1fr auto;
}

.header-1{
  grid-column: 1 / span 12;
  padding: 1em 0;
}

.main-1{
  grid-column:1 / span 9;
}

.sidebar-1{
  grid-column: 10 / span 3;
}

.footer-1{
  grid-column: 1 / span 12;
  padding: 1em 0;
} */